.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:20px;
    
    .filter-div {
        margin: 10px;
    }
    .filter-button{
        background-color:red;
    }
   
}

