<!--<p>tools works!</p>

<mat-form-field>
    <input matInput placeholder="Add Note" [(ngModel)]="noteContent">
</mat-form-field>
<button mat-icon-button (click)="setTitle()">
    <mat-icon>add</mat-icon>
</button>
<app-note></app-note>
<p>Note content is:  {{noteContent}}</p>

<p [style.color]='titleColor'>title:{{title}}</p>
<mat-form-field>
    <input #backgroundColor matInput placeholder="Set background color of title" >
</mat-form-field>
<button mat-icon-button (click)="setBackground(backgroundColor.value)">
    <mat-icon>add</mat-icon>
</button>
<p>titleColor: {{titleColor}}</p>-->

<mat-card class="add-note-card">
    <button mat-icon-button><mat-icon>add</mat-icon></button>
</mat-card>
 