.add-note-card {
          width: 150px;
          height: 150px;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color:orange;
          margin:10px;
    }
    