

<form class="add-note-form" [ngStyle]="{'background-color':noteColor,'color':textColor}">
    <p>Add note</p>
    <mat-form-field>
        <input matInput name="noteTitle" [(ngModel)]="noteTitle" placeholder="title" />
    </mat-form-field>
    <mat-form-field>
        <textarea matInput  name="noteDescription" [(ngModel)]="noteDescription" placeholder="description"></textarea>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Choose a category </mat-label>
        <mat-select *ngIf="categories"  [(ngModel)]="idCategoryNote"  name="categ">
            <mat-option
             *ngFor="let categ of categories" 
             [value]="categ.id"
            >
            {{categ.name}}
        </mat-option>
        </mat-select>
    </mat-form-field> 

    <mat-form-field >
        <mat-label>Choose a background color </mat-label>
        <mat-select *ngIf="colors"   [(ngModel)]="noteColor"  name="notecolor">
            <mat-option
             *ngFor="let color of colors" 
             [value]="color"
            >
            {{color}}
        </mat-option>
        </mat-select>
    </mat-form-field> 

    <mat-form-field >
        <mat-label>Choose a font color </mat-label>
        <mat-select *ngIf="colors"  [(ngModel)]="textColor"  name= "textcolor">
            <mat-option
             *ngFor="let color of colors" 
             [value]="color"
            >
            {{color}}
        </mat-option>
        </mat-select>
    </mat-form-field> 
    
  
  
    <button mat-button (click)="addNote()">Add</button>
</form>

 <!-- <p>Note title: {{noteTitle}}</p>
 <p>NoteDescription: {{noteDescription}}</p>-->
 
