
.float-card{
 display:  inline-flex; 
 flex-direction: row;
  }

  .note-card {
    max-width: 200px;
    min-height: 200px;
  
    flex-direction: column;
    margin:10px;
  }


    .left-icon-buttons{
    
      left:0px;
      position: absolute;
      bottom:0px;
    }

    
    .right-icon-buttons{
    
      right:0px;
      position: absolute;
      bottom:0px;
    }
    
   
